body,html{
    position: relative;
    height:100%;
	margin:0;padding:0;
    background-color: #f8f8f8 !important;
}
*{
	margin:0;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:15px;
    font-weight:300;
    letter-spacing: 1px;
}
/*@font-face{
    font-family: 'Mosk_Semi_Bold';
    font-style: normal;
    src:url(../font/Mosk_Semi_Bold.woff);
    src:url(../font/Mosk_Semi_Bold.woff) format('embedded-opentype'),
    url(../font/Mosk_Semi_Bold.woff) format('woff'),
    url(../font/Mosk_Semi_Bold.woff) format('truetype');
    src:local(※),url(../font/Mosk_Semi_Bold.woff) format('woff');
}
*/

a{
    text-decoration:none !important;
}
i,em{
	font-style:normal;}/*기울기 없앰*/
li{
	list-style:none;}
input,select,textarea,button{
	box-sizing:border-box;}
button{
	background:none;
	border:none;
	cursor:pointer;
	outline:none;}
table{
	border-spacing:0;
    border-collapse:collapse;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.modal-backdrop.in{opacity: 0.85 !important;}


@media screen and (min-width:800px){
    .modal-open { padding-right: 19px !important; }
}
@media screen and (max-width:800px){
    .modal-open { padding-right: 19px !important; }
}